allow platform_app default_android_service:service_manager { find };
allow system_app default_android_service:service_manager { find };
hal_client_domain(system_app, hal_mlipay)
